---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Coming Soon - GDG Guayaquil">
  <main class="h-screen flex flex-col justify-center items-center bg-black text-white font-mono">
    <h1 id="comingSoon" class="text-5xl mb-8 h-20"></h1>
    <h1 id="gdgGuayaquil" class="text-6xl h-24"></h1>
  </main>
</Layout>

<style>
  @keyframes blink {
    0%, 100% { border-right-color: transparent }
    50% { border-right-color: white }
  }

  h1 {
    border-right: 0.08em solid white;
    animation: blink 0.7s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
  }

  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
</style>

<script>
  // Este script verifica si hay una redirección de 404 y la maneja
  (function() {
    var redirect = sessionStorage.redirect;
    delete sessionStorage.redirect;
    if (redirect && redirect != location.href) {
      history.replaceState(null, null, redirect);
    }
  })();

  const typeWriter = (element, text, speed) => {
    return new Promise((resolve) => {
      let i = 0;
      element.textContent = '';
      element.style.animation = 'none';
      
      const typing = setInterval(() => {
        if (i < text.length) {
          element.textContent += text.charAt(i);
          i++;
        } else {
          clearInterval(typing);
          resolve();
        }
      }, speed);
    });
  };

  const fadeOut = (element) => {
    return new Promise((resolve) => {
      element.style.animation = 'fadeInOut 2s forwards';
      setTimeout(resolve, 2000);
    });
  };

  const animateText = async (element, text, speed, delay) => {
    while (true) {
      await typeWriter(element, text, speed);
      await new Promise(resolve => setTimeout(resolve, delay));
      await fadeOut(element);
      await new Promise(resolve => setTimeout(resolve, delay));
    }
  };

  document.addEventListener('DOMContentLoaded', () => {
    const comingSoon = document.getElementById('comingSoon');
    const gdgGuayaquil = document.getElementById('gdgGuayaquil');

    if (comingSoon && gdgGuayaquil) {
      animateText(comingSoon, 'Coming Soon', 100, 1000);
      setTimeout(() => {
        animateText(gdgGuayaquil, 'GDG Guayaquil', 100, 1000);
      }, 3000);
    }
  });
</script>